.forgot-password-modal .modal-body {
    background-color: #f0f8ff; 
  }
  
  .forgot-password-modal .form-control {
    margin-bottom: 10px;
  }
  
  .forgot-password-modal .btn-primary {
    width: 100%;
  }
  
  .forgot-password-modal .mt-3 {
    margin-top: 1rem;
    font-weight: bold;
  }
  